<% if(locals.messages) { %>
<ul>
  <% messages.forEach(message => { %>
  <li>
    <div>
      <span><%= unescapeHTML(message.title) %></span>
      <% if(locals.user.membership_statusid == 2) { %>
      <form action="/<%= message.messageid %>/delete" method="POST">
        <button type="submit">Delete Message</button>
      </form>
      <% } %>
      <p><%= unescapeHTML(message.text) %></p>
      <div>
        <% if(locals.user.membership_statusid > 0) { %>
        <span><%=message.author%></span>
        <span><%=message.timeAgo%></span>
        <%}%>
      </div>
    </div>
  </li>
  <%});%>
</ul>
<% } else { %>
<span>No messages</span>
<%}; %>
